# Ejercicio 1: Transformar cadenas

Texto

In [1]:
text_parts= """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Division

In [3]:
text_parts = """Interesting facts about the Moon.\n The Moon is Earth's only satellite. \n There are several interesting facts about the Moon and how it affects life here on Earth. \n
On average, the Moon moves 4cm away from the Earth every year. \n This yearly drift is not significant enough to cause immediate effects on Earth. \n The highest daylight temperature of the Moon is 127 C."""
text_parts = text_parts.split('. ')
text_parts

["Interesting facts about the Moon.\n The Moon is Earth's only satellite",
 '\n There are several interesting facts about the Moon and how it affects life here on Earth',
 '\n\nOn average, the Moon moves 4cm away from the Earth every year',
 '\n This yearly drift is not significant enough to cause immediate effects on Earth',
 '\n The highest daylight temperature of the Moon is 127 C.']

Palabras Clave

In [4]:
word = ["average", "temperature", "distance"]

Bucle

In [8]:
for sentence in text_parts:
    for word in word:
        if word in sentence:
            print(sentence)
            break

Interesting facts about the Moon.
 The Moon is Earth's only satellite

 The highest daylight temperature of the Moon is 127 C.

Finalmente, actualiza el bucle(ciclo) para cambiar _C_ a _Celsius_:

In [11]:
for sentence in text_parts:
    for word in word:
        if word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

Interesting facts about the Moon.
 The Moon is Earth's only satellite

 The highest daylight temperature of the Moon is 127 Celsius.

#  Formateando Cadenas

In [12]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

Título para el texto

In [14]:
title = f'datos de gravedad sobre {name}'

Plantilla

In [18]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

Título y los Hechos.

In [19]:
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra: 
```
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
```

In [20]:

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [21]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [22]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2