# Operadores aritméticos

# Tierra (149.597.870 km) y Júpiter (778.547.200 km).

In [4]:
first_planet = 149597870
second_planet = 778547200

distance_km = second_planet - first_planet
print(distance_km)

distance_mi = distance_km * 0.621
print(distance_mi)

628949330
390577533.93

# Cadenas en números

In [2]:
first_planet = input('Enter the distance from the sun for the first planet in KM')
second_planet = input('Enter the distance from the sun for the second planet in KM')

### Convertir a número

In [3]:
first_planet = int(first_planet)
second_planet = int(second_planet)

### Cálculo y convertir a valor absoluto

In [4]:
distance_km = second_planet - first_planet
print(distance_km)

# Convertir de KM a Millas
distance_mi = distance_km * 0.621
print(abs(distance_mi))

628949330
390577533.93

### Prueba tu aplicación
Para probar el proyecto, ejecuta tu notebook. En la parte superior de vscode surgirá un cuadro de diálogo para que proporciones las distancias. Puede utilizar los datos de la tabla siguiente:

| Planeta  | Distancia al sol |
| ------- | ----------------- |
| Mercurio | 57900000          |
| Venus   | 108200000         |
| Tierra   | 149600000         |
| Marte    | 227900000         |
| Júpiter | 778600000         |
| Saturno  | 1433500000        |
| Urano  | 2872500000        |
| Neptuno | 4495100000        |